name: Deploy NodeJS Application

on:
  push:
    branches:
      - master

jobs: 
  deploy: 
    runs-on: ubuntu-latest 

    steps: 
    - name: Checkout code 
      uses: actions/checkout@v4 

    - name: Deploy via SSH 
      uses: appleboy/ssh-action@v1.0.3 
      with: 
        host: ${{ secrets.SSH_HOST }} 
        username: root 
        key: ${{ secrets.SSH_KEY }} 
        port: 22 
        script: |
          cd /root/node-api 
          git pull origin master 
          npm ci
          pm2 restart Node-api || pm2 start app.js --name Node-api 

